.radio input[type="radio"] {
margin-top: 0.7%;
}
.btnArb{
    background-image: none !important;
    padding: 8px 12px !important;
    background-color: rgb(179,153,93) !important;
    color: #fff !important;
}